<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">

<title>Ticket Tracker Application</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>ticket Directory</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
		<div class="container-fluid">
			<h4>Ticket Tracker Appication</h4>
			<a th:href="tickets"
				class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
				Tickets </a> <a th:href="newtickets"
				class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
				New ticket </a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				</ul>
			</div>
		</div>
	</nav>

	<div class="container my-2">
		<h1>List of Tickets</h1>
		<form th:action="@{/admin/search}">
			<input type="text" th:title="${title}" name="title" id="title"
				size="35" th:value="${title}" required />

			<button class="btn btn-primary btn-sm btn-lg">Submit</button>
			&nbsp;
		</form>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th style="color: white; background: black;">#</th>
					<th style="color: white; background: black;">Ticket title</th>
					<th style="color: white; background: black;">Ticket Short
						Description</th>
					<th style="color: white; background: black;">Ticket Created On</th>
					<th style="color: white; background: black;">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ticket : ${listickets}">
					<td th:text="${ticket.id}"></td>
					<td th:text="${ticket.title}"></td>
					<td th:text="${ticket.short_desc}"></td>
					<td th:text="${ticket.date}"></td>

					<td><a th:href="@{/admin/ticketsedit/{id}(id=${ticket.id})}"
						class="btn btn-primary">Edit</a> <a
						th:href="@{/admin/deleteTicket/{id}(id=${ticket.id})}"
						class="btn btn-danger">Delete</a> <a
						th:href="@{/admin/viewTicket/{id}(id=${ticket.id})}"
						class="btn btn-info">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>