<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Appication</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
		<div class="container-fluid">
			<h4>Ticket Tracker Appication</h4>
			<a href="http://localhost:8080/admin/tickets"
				class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
				Tickets </a> <a href="http://localhost:8080/admin/newtickets"
				class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
				New ticket </a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-5 pt-2 border w-50">
		<h2 align="center" style="background-color: rgb(250, 250, 250)">Edit
			Ticket</h2>
		<hr>
		<form action="#" th:action="@{/admin/saveTicket}"
			th:object="${ticket}" method="POST">

			<input type="hidden" th:field="*{id}" /> <label for="title">Title</label>
			<input type="text" th:field="*{title}" class="form-control mb-4">
			<label for="short_desc">Short_desc</label>
			<textarea th:field="*{short_desc}" class="form-control mb-4"></textarea>
			<label for="content">Content</label> <br>
			
			<textarea  th:field="*{content}" class="form-control mb-4"></textarea>

			<input type="hidden" th:field="*{date}" placeholder="date"
				class="form-control mb-4">
			<button type="submit" class="btn btn-primary col-2">Submit</button>
		</form>

<script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
        
       
                <div id="content"></div>
                <script>
                        ClassicEditor
                                .create( document.querySelector( '#content' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                </script>
		<hr>

	</div>
</body>

</html>